{
    "login" : {
        "email" : "###########",
        "pwd" : "###########"
    },
    "team" : {
        "DLD-Theory" : "team-19:zzzzzzzzzzzzzzzzzzzz.tacv2",
        "Test" : "team-19:zzzzzzzzzzzzzzzzzzzz.tacv2",
        "NSA" : "team-19:zzzzzzzzzzzzzzzzzzzzzz.tacv2"
    }
}